---
import {Image} from "astro:assets";
import {siteConfig} from "../../../config";

const { data } = Astro.props;

// Get author data
const authorAvatar = data.mcplayerid ? `/images/avatars/${data.mcplayerid}.png` : (data.avatar ? data.avatar : null);
const authorName = data.name ? data.name : null;
---
{(siteConfig.displayAvatar && data) &&
        <>
            {authorAvatar && <Image src={authorAvatar} alt={`avatar of ${authorName}`} width=16 height=16 />}
            <span>{authorName}</span> |
        </>
    }
<style>
    img + span {
        margin-left: 0.5rem;
        font-weight: 500;
    }
    img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
</style>