---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Comments from "../../components/Comments.astro";

export async function getStaticPaths() {
  const blogEntries = await getCollection('posts');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const slug = Astro.params.slug;
const cover = entry.data.cover
//|| `/posts/${slug}/featured.webp` || `/posts/${slug}/featured.png` || `/posts/${slug}/featured.jpg`
---

<Layout
  title={entry.data.title}
  path={`~/grassblock/micr0blog/blog/${slug}`}
  description={entry.data.description}
  ogImage={cover}
>
      <h1 class="post-title">{entry.data.title}</h1>
      <span class="post-date">{new Date(entry.data.pubDate).toISOString().split('T')[0]}</span>
      <div class="post-content">
        <Content />
      </div>

    <div style="margin-top: 2rem; border-top: 1px solid var(--border-color); padding-top: 1rem;">
    <h2>Comments</h2>
    <Comments path={`post/${slug}`} />
    <a href="/blog">&larr; Back to posts</a>
  </div>

</Layout>