---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import NewsLetter from "@/components/NewsLetter.astro";
import {siteConfig} from "@/config";
import ArticleList from "@/components/ArticleList.astro";
import { getLocalePathMap, useTranslations, useTranslatedPath } from '@/i18n/utils';

export async function getStaticPaths() {
  const uniqueLangPaths = [...new Set(Object.values(getLocalePathMap()).filter(item => item !== '/'))];
  return uniqueLangPaths.map((lang) => ({
    params: { lang },
  }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
const posts = await getCollection('posts', (post) => {
    return (import.meta.env.PROD ? post.data.draft !== true : true) && post.id.startsWith(lang);
});
posts.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="Blog Posts" description="List all posts on the website.">
  <h1 class="title">~/blog</h1>
  
  <div class="content">
    <p class="typewriter">{t('posts.description')}</p>
    
    <div style="margin-top: 2rem;">
      <span class="command">ls -la posts/</span>
      <ArticleList posts={posts} displayDate={true} placeholder={true} lang={lang} />
    </div>
    
    <div style="margin-top: 2rem;">
      <p>
        <span class="command">cat subscribe.txt</span>
        <br />
        <a href="/rss.xml" style="margin-left: 1rem;">{t('subscribe.rss')}</a>
      </p>
      {siteConfig.newsletter.enabled && <NewsLetter listmonkInstance={siteConfig.newsletter.listmonk.instanceDomain} listuuid={siteConfig.newsletter.listmonk.listuuid} />}
    </div>
  </div>
</Layout>