---
import {siteConfig} from "../../../config";
import '../../../styles/artalk.css';
const ArtalkInstanceDomain = siteConfig.comments.artalk.instanceDomain
const ArtalkInstanceSite = siteConfig.comments.artalk.site

const { title = '' } = Astro.props;
---
<div>
    <!-- Artalk -->
    <div id="comments" data-path={Astro.url.pathname} data-title={title} data-server={ArtalkInstanceDomain} data-site={ArtalkInstanceSite}></div>
    <script>
        import Artalk from "artalk";

        function initArtalk() {
            const atkElement = document.querySelector('#comments');

            if (!atkElement) return;
            Artalk.init({
                el: '#comments',
                pageKey: atkElement?.getAttribute('data-path') || window.location.pathname,
                pageTitle: atkElement?.getAttribute('data-title') || document.title,
                server: `https://${atkElement?.getAttribute('data-server')}`,
                site: atkElement?.getAttribute('data-site') || 'default',
                darkMode: "auto",
                versionCheck: false
            });
        }

        // Initialize on page load
        document.addEventListener('DOMContentLoaded', initArtalk);

        // Re-initialize on view transitions, fix issues with Astro's ClientRouter
        document.addEventListener('astro:page-load', () => {
            initArtalk();
        });
    </script>
</div>