---
import '../styles/global.css';
import Search from '../components/Search.astro';
import ThemeSwitcher from '../components/ThemeSwitcher.astro';
import BackToTop from "../components/BackToTop.astro";
import { siteConfig } from "../config";
import Meta from "../components/helper/head/Meta.astro";

interface Props {
  title: string;
  description: string;
  path?: string;
  ogImage: string;
}

const defaultTitle = siteConfig.title
const formattedPath = defaultTitle.toLowerCase().replace(/\s+/g, '-');

const navBarItems = siteConfig.navBarItems
const customFooter = siteConfig.customFooter

const { title, path = formattedPath, description = siteConfig.description, ogImage = "" } = Astro.props;
// TODO: make the path dynamic
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <Meta title={title} description={description} ogImage={ogImage} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="terminal-path">
          {path}
        </div>
        
        <nav class="nav">
          <a href="/">Home</a>
          <a href="/blog">Blog</a>
          {navBarItems.map((item) => <a href={item.link}>{item.text}</a>)}
        </nav>

        <Search />
        
        <div class="content-box">
          <slot />
        </div>
      </div>
    </main>
    
    <footer class="footer">
      <div class="floating">
        <BackToTop/>
        <ThemeSwitcher/>
      </div>
      <div class="container">
        <Fragment set:html={customFooter} />
        <p>Powered by <a href="https://git.gb0.dev/gb/mercury"><img src="/mercury.svg" width="16px" alt="mercury logo" /> mercury</a></p>
      </div>
    </footer>
  </body>
</html>